---
import Unfont from "unplugin-fonts/astro/component.astro";
import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";
import BackToTop from "../components/BackToTop.astro";
import "simplebar/dist/simplebar.min.css";
import "../styles/main.scss";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <Unfont />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SecureFast</title>
    <script>
      !(function (t, e, n, s, a, c, i, o, p) {
        (t.AppsFlyerSdkObject = a),
          (t.AF =
            t.AF ||
            function () {
              (t.AF.q = t.AF.q || []).push(
                [Date.now()].concat(Array.prototype.slice.call(arguments))
              );
            }),
          (t.AF.id = t.AF.id || i),
          (t.AF.plugins = {}),
          (o = e.createElement(n)),
          (p = e.getElementsByTagName(n)[0]),
          (o.async = 1),
          (o.src =
            "https://websdk.appsflyer.com?" +
            (c.length > 0 ? "st=" + c.split(",").sort().join(",") + "&" : "") +
            (i.length > 0 ? "af_id=" + i : "")),
          p.parentNode.insertBefore(o, p);
      })(window, document, "script", 0, "AF", "banners", {
        banners: { key: "7b57a83c-7605-465c-9226-3b69228187fe" },
      });
      AF("banners", "showBanner");
      // Create cookie
      function setCookie(cname, cvalue, exdays) {
        const d = new Date();
        d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }

      // Delete cookie
      function deleteCookie(cname) {
        const d = new Date();
        d.setTime(d.getTime() + 24 * 60 * 60 * 1000);
        let expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=;" + expires + ";path=/";
      }

      // Read cookie
      function getCookie(cname) {
        let name = cname + "=";
        let decodedCookie = decodeURIComponent(document.cookie);
        let ca = decodedCookie.split(";");
        for (let i = 0; i < ca.length; i++) {
          let c = ca[i];
          while (c.charAt(0) == " ") {
            c = c.substring(1);
          }
          if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
          }
        }
        return "";
      }

      // Set cookie consent
      function acceptCookieConsent() {
        deleteCookie("user_cookie_consent");
        setCookie("user_cookie_consent", 1, 30);
        document.getElementById("cookieNotice").style.display = "none";
      }
      let cookie_consent = getCookie("user_cookie_consent");
      if (cookie_consent != "") {
        document.getElementById("cookieNotice").style.display = "none";
      } else {
        document.getElementById("cookieNotice").style.display = "block";
      }
    </script>
    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-PV65Z24");
    </script>
    <!-- End Google Tag Manager -->
    <meta
      name="google-site-verification"
      content="5CrEvCGAsGhfkJK5fO56pg69NA4ZFFTqyLIgUDlKuO8"
    />
    <link rel="icon" type="image/ico" href="img/favicon.ico" />
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PV65Z24"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <Sidebar />

    <!--page partial-->
    <slot />

    <Footer />

    <!--Back to top-->
    <BackToTop />

    <script src="../js/main"></script>
  </body>
</html>
